body {
    font-family: Arial, sans-serif;
    background-color: #e1dfdf;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
  }

form{
    display: block;
    align-items: center;
    margin-top: 5px;
}

  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
  }

  select {
    height: 36px;
  }

  input[type="submit"] {
    background-color: #4285f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #3367d6;
  }

  nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 80px;
    background-color: rgb(21, 20, 20);
}

nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 34;
    color:antiquewhite;
    font-weight: bold;
    text-transform: uppercase;
}

nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li{
    list-style: none;
}

nav .list a{
    display: block;
    margin: 5px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .list img{
    margin: 1px;
    filter: invert(1);
    -webkit-filter: invert(1);
}

#toggle{
    position: absolute;
    top: -50px;
}

nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

@media (max-width:768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: left;
    }
    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
    }

    nav .list a{
        font-size: 20px;
    }

    nav :checked ~ .list{
        bottom: 0;
    }

    nav .icon-bars{
        display: block;
    }
}


nav img{
    margin: 0;
}

nav .logo{
        float:left;
        width: auto;
        justify-content: left;
        font-size: 22px;
        margin-left: 10px;
    }

    nav .logo2{
        float:left;
        width: auto;
        justify-content: left;
        font-size: 22px;
        margin-left: -40px;
    }

